//Colors---------------

$light-gray: #9c9a9a;
$strong-gray: #535353;
$red: #fc444a;
$purple: #5b4295;
$black: #202020;
$white: #ffffff;

//Fonts-----------------

$font-tit-reg: 'Titillium Web Regular', sans-serif;
$font-tit-semi-bold: 'Titillium Web SemiBold', sans-serif;
$font-tit-bold: 'Titillium Web Bold', sans-serif;
$font-malaga: 'Malaga OT Reg', sans-serif;
$font-minion: 'Minion Pro Regular', sans-serif;